<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="NetUtility" connectionString="Server=.;Database=NetUtility;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="RJ.PizzaOrderingService.ZzaService">        
        <!-- For wcf services hosted on IIS,IIS detremines the address and not our configuration-->
        <endpoint binding="basicHttpBinding"
                  contract="RJ.PizzaOrderingService.IZzaService">
        </endpoint>        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <!-- If you dont give this a name and use that name to a specific service,this behavior applies to all the services-->
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- This can be used to get the metadata by coming to the service base address-->
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>      
    </bindings>
  </system.serviceModel>
</configuration>