<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="NetUtilityEntities" connectionString="metadata=res://*/NetUtilityModel.csdl|res://*/NetUtilityModel.ssdl|res://*/NetUtilityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NetUtility;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NetUtilityEntities1" connectionString="metadata=res://*/NetUtils.csdl|res://*/NetUtils.ssdl|res://*/NetUtils.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NetUtility;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NetUtilityEntities2" connectionString="metadata=res://*/EF6.NetUtility.csdl|res://*/EF6.NetUtility.ssdl|res://*/EF6.NetUtility.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NetUtility;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>