<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="NetUtility" connectionString="Server=.;Database=NetUtility;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="RJ.PizzaOrderingService.ZzaService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2112"/>
          </baseAddresses>
        </host>
        <!-- Address consists of 3 parts name.1 protocol,2.Base server address 3.arbitrary uri(Zza) and this is optional-->
        <endpoint address="Zza"
                  binding="basicHttpBinding"
                  contract="RJ.PizzaOrderingService.IZzaService">
        </endpoint>
        <endpoint address="net.tcp://localhost:2113/Zza"
                  binding="netTcpBinding"
                  contract="RJ.PizzaOrderingService.IZzaService">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <!-- If you dont give this a name and use that name to a specific service,this behavior applies to all the services-->
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- This can be used to get the metadata by coming to the service base address-->
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
      <netHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </netHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>